*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  margin: 5px;
  height: 98%
}

#main{
  height: 100%;
}

#messageArea{
  height: 100%;
}

#sidebar{
  height: 100%;
}
#sidebarHead{
  height: 10%
}

#innerSidebar{
  height: 90%;
  overflow: auto;

}
#chatMenu{
  display: none;
}

#chatCloseBtn{
  display: none;
}

#chat{
  overflow: auto;
}

#messageError{
  display:none;
  color: red;
}

#convo{
  cursor: pointer;
}

#timeStamp{
  float: right;
}

@media only screen and (max-width:1000px) {
  #sidebar{
    display: none;
    position: fixed;
    z-index: 1;
    width: 70%;
    height: 96%;
  }

  #chatMenu{
    display: block;
    float: left;
    margin: 4px
  }

  #chatCloseBtn{
    display: block;
  }
}
